doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/animate.css')
    script(src='/javascripts/js/jquery-3.4.1.min.js')
    script(src='/javascripts/js/bootstrap.min.js')
    script(src='/javascripts/chart/Chart.js')
    meta(charset="utf-8")
    link(href="/images/icon.png",type="image/x-icon",rel="shortcut icon")
  body
    block content
